@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<section id="hero" class="hero section">

    <img src="~/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 fw-bold text-bg-light">Yechan Emiliano Lee</h1>
                <p class="lead mt-3 text-light">
                    I'm a passionate
                    <span class="fw-bold px-2 rounded"
                          style="color: #fffbea; background-color: rgba(0, 0, 0, 0.5); box-shadow: 0 2px 4px rgba(0,0,0,0.2);">
                        software engineering student
                    </span>
                    from South Korea
                </p>
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->